<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/employees/employee" method="post">
    Employee id : <input type="number" name="empId" id="empId"><br>
     Name : <input type="text" name="name" id="name"><br>
    Salary : <input type="text" name="salary" id="salary"><br>
    Dept Name : <input type="text" name="dname" id="dname"><br>
    <button type="submit" name="btn" id="btn">Add employee</button>
</form>
</body>
</html>